

.banner {
  position: relative;
}

.banner__content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
}

.banner__title {
  font-family: $main-font;
  color: $color-d-blue;
  font-size: 35px;
  margin-top: 30px;
}

.banner__title--small {
  display: block;
  margin-top: 10px;
  color: $color-l-blue;
  font-size: 20px;
}

.banner__intro {
  color: #fff;
}

.banner__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  width: 290px;
  height: auto;
  background-color: $color-green;
  box-shadow: 4px 7px 20px -3px rgba(0, 0, 0, 0.4);
}

.banner__intro--call {
  margin-top: 26px;
  text-align: center;
  font-size: 18px;
}

.banner__intro--hidden {
  display: none;
}

.banner__phone {
  margin-top: 15px;
  margin-bottom: 35px;;
}

.banner__price {
  margin-top: 45px;
  margin-bottom: 45px;
}

.banner__bg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1; 
  background-color: #fff;
  background-image: url(../img/png/banner-girl.png);
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.05;
}

.banner__img {
  display: none;
}

@media (min-width: $tablet-width) {
  .banner {
    background : radial-gradient(60.47% 105.53%, circle farthest-corner, rgba(0, 176, 215, 1) 0%, rgba(1, 153, 190, 1) 39.96%, rgba(1, 140, 176, 1) 47.96%, rgba(1, 111, 143, 1) 69.75%, rgba(1, 93, 122, 1) 87.88%, rgba(1, 86, 115, 1) 100%);
  }

  .banner__content-wrapper {
    max-width: 690px;
    margin: 0 auto;
    align-items: flex-start;
  }

  .banner__title {
    color: #ffffff;
    font-size: 48px;
    margin-top: 85px;
  }

  .banner__title--small {
    display: block;
    margin-top: 20px;
    color: #ffffff;
    font-size: 27px;
    margin-bottom: 40px;
  }

  .banner__card {
    display: none;
  }

  .banner__intro--hidden {
    display: block;
    width: 390px;
    font-size: 15px;
  }

  .banner__price {
    margin-bottom: 80px;
  }

  .banner__img {
    display: block;
    position: absolute;
    width: 480px;
    height: auto;
    z-index: 0;
    bottom: 0;
    right: 5%;
  }
}

@media (min-width: $desktop-width) {
  .banner__content-wrapper {
    max-width: 1140px;
    margin: 0 auto;
    align-items: flex-start;
  }

  .banner__title {
    font-size: 83px;
    margin-top: 150px;
  }

  .banner__title--small {
    margin-top: 45px;
    font-size: 47px;
    margin-bottom: 50px;
  }

  .banner__intro--hidden {
    width: 470px;
    
    font-size: 16px;
  }

  .banner__price {
    margin-bottom: 145px;
  }

  .banner__img {
    width: 600px;
    right: 5%;
  }
}

@media (min-width: 1366px) {
  .banner__img {
    right: 10%;
  }
}

@media (min-width: 1600px) {
  .banner__img {
    right: 15%;
  }
}