

.confidence {
  display: none;
}

@media (min-width: $tablet-width) {
  .confidence {
    display: block;
    background-color: $color-l-gray;
    margin-top: 70px;
  }

  .confidence-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 720px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
  }

  .confidence__text {
    font-family: $main-font;
    font-size: 30px;
    color: $color-d-blue;
    margin-top: 45px;
  }

  .confidence__call-us {
    font-family: $main-font;
    font-size: 22px;
    color: $color-l-blue;
    margin-top: 10px;
  }

  .confidence__btn-phone {
    margin-top: 20px;
  }

  .confidence__img {
    width: 550px;
    height: auto;
  }
}

@media (min-width: $desktop-width) {
  .confidence {
    margin-top: 120px;
  }

  .confidence-wrapper {
    width: 1140px;
  }

  .confidence__text {
    font-family: $main-font;
    font-size: 50px;
    color: $color-d-blue;
    margin-top: 80px;
  }

  .confidence__call-us {
    font-family: $main-font;
    font-size: 30px;
    color: $color-l-blue;
    margin-top: 20px;
  }

  .confidence__btn-phone {
    margin-top: 20px;
  }

  .confidence__img {
    width: 860px;
    height: auto;
  }
}