
.page-header--serv {
  background-color: $color-l-gray;
}

.page-header__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  width: 320px; 
  margin: 0 auto;
}

.page-header__logo {
  display: flex;
  padding: 10px 0 10px 0;
  height: 100px;
}

 //скрывать в шапке кнопку с номером телефона в мобильной версии
.page-header .page-header__phone {
  display: none;
}

 

// планшетная версия

@media (min-width: $tablet-width) {
  .page-header__wrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 720px; 
    height: 100px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .page-header .page-header__phone {
    display: block;
  }

  .page-header .page-header__logo {
    display: none;
  }
}

// десктопная версия

@media (min-width: $desktop-width) {
  .page-header__wrapper {
    width: 1140px; 
  }

  .page-header .page-header__logo {
    display: flex;
  }
}