

@mixin icon-social {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 20px;
  height: 20px;
}

.social__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.social__item {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  position: relative;
}

.social__link--facebook::before {
  @include icon-social();
  background-image: url(../img/SVG/icon-facebook.svg);
}

.social__link--instagram::before {
  @include icon-social();
  background-image: url(../img/SVG/icon-instagram.svg);
}

.social__link--linkedin::before {
  @include icon-social();
  background-image: url(../img/SVG/icon-linkedin.svg);
}
